@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  margin-top: 80px;
}
h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.timerClass {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.timerClass div {
  border: 1px solid #ffffff;
  width: 130px;
  padding: 10px;
  height: 130px;
  margin: 10px;
  border-radius: 5px;
  z-index: 1;
}
.timerClass p {
  padding-top: 10px;
}
#hours,
#seconds,
#minutes {
  font-size: 35px;
}
button {
  margin-top: 20px;
  background-color: black;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px;
  text-transform: uppercase;
}
button:hover {
  background-color: #ffffff;
  color: #000000;
  outline: hidden;
  border: 1px solid #ffffff;
  overflow: hidden;
}
button:active {
  outline: hidden;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
